<%= render "shared/navbar" %>
<div class="container-fluid">
<br><Br>
<h2 class = "text-center">Actors</h2>
<br>

<!-- <table style = "border: 1px solid black; border-collapse: collapse"> -->
<div class="row">
<div class ="col-md-10 col-md-offset-1">
<table class ="table table-striped">
<tr>
<th>Name</th>
<th>Info</th>
<th>Edit</th>
<th>Delete</th>
</tr>
<% @actors.each do |actor| %>
  <tr >
    <td ><%=actor.name %></td>
    <td><%= link_to('Info', actor_path(actor), {class: "btn-xs btn-info"})%></td>
    <td><%= link_to('Edit', edit_actor_path(actor), {class: "btn-xs btn-info"})%></td>
    <td><%= link_to('Delete',actor_path(actor), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-xs btn-danger")%></td>
  </tr>
  <%end %>
</table>
</div>
</div>

<div class="row">
<div class ="col-md-2 col-md-offset-1">
<%=  link_to('Add new actor', new_actor_path, {class: "btn btn-primary"}) %>
</div>
</div>
</div>
